.container {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.topSection {
    margin: 0 0 50px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.withoutPaddingAndMargin {
    margin: 0;
    padding: 0;
}

.Title {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.Description {
    font-size: .9rem;
    text-align: center;
    margin: 0 25px;
}

.AccordionSection {
    background-color: #236ede;
    height: 100%;
    padding: 75px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AccordionContent {
    font-size: 1.3rem;
    color: white;
}

@media only screen and (min-width: 1024px) {
    .topSection h1 {
        font-size: 5rem;
    }

    .topSection p {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1500px) {
    .topSection p {
        margin-left: 500px;
        margin-right: 500px;
    }
}