.container {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.topSection {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.topSection h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.topSection p {
    font-size: 1.3rem;
    margin: 0 25px;
    text-align: center;
}

.contactSection {
    background-color: #00CA8D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
}

.contactSection * {
    width: 300px;
    margin: 10px 0;
    padding: 25px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.contactSection button {
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: .3s;
}

.contactSection button:hover {
    background-color: rgb(34, 34, 34);
}

.contactSection textarea {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 1024px) {
    .topSection h1 {
        font-size: 6rem;
    }

    .topSection p {
        font-size: 2rem;
    }

    .contactSection * {
        width: 700px;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1500px) {
    .topSection h1 {
        font-size: 8rem;
    }

    .topSection p {
        font-size: 2rem;
        margin-left: 500px;
        margin-right: 500px;
    }

    .contactSection {
        padding: 50px
    }

    .contactSection * {
        width: 1200px;
        font-size: 1.5rem;
    }
}