.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.nav {
    margin: 0;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 0 .5vw;
    font-size: 100%;
    color: rgba(255, 255, 255, .5);
    transition-duration: 300ms;
}

.item:hover {
    color: white;
}

.logo {
    background-color: #fff;
    height: 37px;
    width: 37px;
    margin: 0 10px;
}





